.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: var(--margin-l);
}

.container h1 {
  margin: 0;
  font-size: 1.5rem;
}

.menu-icons {
  display: flex;
  align-items: center;
  gap: var(--margin-l);
}

.menu-icon {
  width: 2.25rem;
  height: 2.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.05);
}

.menu-icon:hover {
  box-shadow: 0 0 1px 3px rgba(0, 0, 0, 0.1);
}

@media (min-width: 960px) {
  .container {
    margin-bottom: var(--margin-xl);
  }

  .menu-icons {
    display: none;
  }
}
