.container {
  display: flex;
}

.mainbutton {
  background-color: var(--accent-color);
}

.mainbutton:hover {
  background-color: var(--accent-color-dark);
}

.imagecontainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.actionbutton {
  font-size: 16px;
  padding-block: 4px;
}

.imageactions {
  display: flex;
  gap: 1rem;
}

.image {
  width: 100%;
  object-fit: cover;
  max-height: 150px;
}
