.products {
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style-type: none;
  flex-grow: 1;
}

.empty-list {
  margin-block: var(--margin-xl2);
  color: rgba(0, 0, 0, 0.2);
  font-style: italic;
  font-size: 1.1rem;
}

.product {
  display: flex;
  align-items: center;
  margin-bottom: var(--margin-s);
  padding-left: var(--padding-m);
  border-radius: 0.5rem;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
  text-align: start;
}

.product .dots {
  flex-grow: 1;
  display: inline-block;
  height: 0.5rem;
  margin-inline: var(--margin-xs);
  border-bottom: 2px dotted black;
}

.main-action-btn {
  width: 100%;
}

@media (min-width: 960px) {
  .empty-list {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main-action-btn {
    max-width: 300px;
  }
}
