.menu-container,
.code-container {
  display: flex;
  flex-direction: column;
  gap: var(--padding-l);
  margin: auto;
  padding: var(--padding-xl);
  max-width: 280px;
  border-radius: 1rem;
  background-color: white;
}

.menu-container button:last-child {
  margin-top: var(--margin-xl);
}

.code-container p {
  font-size: 1.25rem;
  margin: 0;
}

.input-container {
  position: relative;
  display: flex;
}

.input-container span {
  position: absolute;
  right: var(--margin-m);
  top: 50%;
  transform: translateY(-50%);
  color: var(--primary-color);
}

.code-container input {
  flex-grow: 1;
  text-align: center;
}

.actions {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: var(--padding-m);
}

.actions button {
  width: 10rem;
}

.menu-container button, .actions button {
  cursor: pointer;
}
