.products {
  width: 100%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow-y: auto;
}

.empty-list {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  color: rgba(0, 0, 0, 0.2);
  font-style: italic;
  font-size: 1.1rem;
}

.product {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  padding-left: var(--padding-m);
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
  text-align: start;
  cursor: pointer;
  overflow: hidden;
}

.imageBookmark {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 1.05rem 1.05rem 0 0;
  border-color: var(--accent-color) transparent transparent transparent;
  pointer-events: none;
}

.product .dots {
  flex-grow: 1;
  display: inline-block;
  height: 0.5rem;
  margin-inline: var(--margin-xs);
  border-bottom: 2px dotted black;
}

.image-indicator {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 32px;
}

@media (min-width: 960px) {
  .products {
    max-height: 750px;
  }

  .empty-list {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
