.form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: var(--padding-m);
  width: 100%;
  max-width: 450px;
  min-height: 400px;
}

.form label {
  display: flex;
  flex-direction: column;
}

.form span {
  text-align: left;
}

.formActions {
  display: flex;
  flex-direction: row;
  gap: var(--padding-m);
  width: 100%;
}

.formActions button {
  flex: 1;
}

.cancelButton {
  background-color: var(--accent-color);
}

.cancelButton:hover {
  background-color: var(--accent-color-dark);
}

@media (min-width: 960px) {
  .form {
    gap: var(--padding-l);
  }

  .formActions {
    margin-top: var(--margin-m);
  }
}
