.main-action-btn {
  width: 100%;
  text-transform: uppercase;
}

@media (min-width: 960px) {

  .main-action-btn {
    max-width: 300px;
  }

  .actions-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--padding-xl);
  }
}
