.samples {
  width: 100%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow-y: auto;
}

.empty-list {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  color: rgba(0, 0, 0, 0.2);
  font-style: italic;
  font-size: 1.1rem;
}

.sample {
  display: flex;
  align-items: center;
  margin-bottom: var(--margin-s);
  padding-left: var(--padding-m);
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
  text-align: start;

  cursor: pointer;
}

.sample .checkmark {
  width: 32px;
  color: var(--primary-color);
}

.sample .dots {
  flex-grow: 1;
  display: inline-block;
  height: 0.5rem;
  margin-inline: var(--margin-xs);
  border-bottom: 2px dotted black;
}

.main-action-btn {
  width: 100%;
  text-transform: uppercase;
}

@media (min-width: 960px) {
  .samples {
    max-height: 750px;
  }

  .empty-list {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main-action-btn {
    max-width: 300px;
  }

  .actions-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--padding-xl);
  }
}
