.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -10vh;
  height: 100%;
}

.logo img {
  width: 4rem;
}

.actions {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.container p {
  text-align: center;
  font-style: italic;
  color: red;
  font-size: 0.8rem;
}
