.container {
  display: flex;
  flex-direction: column;
  gap: var(--padding-l);
  margin: auto;
  padding: var(--padding-xl);
  max-width: 280px;
  border-radius: 1rem;
  background-color: white;
}

.container p {
  font-size: 1.25rem;
}

.actions {
  display: flex;
  justify-content: space-evenly;
  gap: var(--padding-m);
}

.actions button {
  width: 10rem;
}
