@import url("./variables.css");
@import "material-icons/iconfont/material-icons.css";

:root {
  height: 100%;

  font-family: "Gill Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

body {
  height: 100%;
  margin: 0;
}
